<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">Back</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/shopping-cart/">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
                    <span class="badge">{{session.cart.totalQty}}</span>
                </a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i> User Management <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    {{#if login}}
                        <li><a href="/profile">User Account</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    {{else}}
                        <li><a href="/users/signup">Sign Up</a></li>
                        <li><a href="/users/signin">Sign In</a></li>
                    {{/if}}
                </ul>
            </li>
        </ul>
    </div>
</nav>