<p>{{username}}</p>

<img src="../../uploads/a05319d2648810b2564921f15403a5d8">

{{#each products}}
	<p>{{this}}</p>
{{/each}}

{{#if isLoggedIn}}
<p>truth</p>
{{else}}
<p>flase stuff appear</p>
{{/if}}
